
@{
    ViewBag.Title = "FAQ";
}

<div class="container">
    <h2>Frequently Asked Questions</h2>
    <a href="~/Images/Perfect Petals FAQ.pdf" target="_blank">Download FAQ PDF</a>

    <!--Start FAQ Accordion-->
    <div class="accordion">
        <h3><strong>Do you have a minimum budget?</strong></h3>
        <div>
            <p>
                A: Yes I do. Typically, the minimum budget is $200.00 - check with me directly for exceptions.
            </p>
        </div>
        <h3><strong>Are you willing to use silk wedding flowers?</strong></h3>
        <div>
            <p>
                A: Yes, we will work with real (live) and silk flower types.
            </p>
        </div>
        <h3><strong>What services do you provide for a given event?</strong></h3>
        <div>
            <p>
                A: I provide custom designed flowers for weddings, receptions, and other events. I will provide set up and tear down regarding decorations
                for an additional fee. I will deliver custom designed floral arrangements to your location, or pick-up arrangements can be made. Please
                ask if you have any questions. I provide most services for decorating. <strong>I do not offer day of planning services.</strong>
            </p>
        </div>
        <h3><strong>Which forms of payment do you accept?</strong></h3>
        <div>
            <p>
                A: I can accept credit cards (Visa or Mastercard ONLY), cash, cashier's checks, and money orders. <strong>I do not accept personal checks</strong>
            </p>
        </div>
        <h3><strong>How do I get started?</strong></h3>
        <div>
            <p>
                A: Please email me directly <a style="color:blue;" href="mailto:3louthains@sbcglobal.net" target="_blank">here</a>, call me at 816-808-7107 or connect with me at my <a style="color: blue;" href="https://www.facebook.com/PerfectPetalsWeddingsAndEventFlorist/" target="_blank">Facebook</a> page. We can check date availability and set
                up a free one-on-one consultation. I am located south of the river at 435 and Holmes. I love meeting my potential clients wherever is convenient for
                them - a local coffeehouse, restaurant, my house or even in their living room.
            </p>
        </div>
    </div>

    <div class="row">
        <p class="col-lg-12 text-center">
            <br />
            <strong>Please feel free to email, call, or message me with any questions you may have.</strong>
            <br />
            <br />
            <!--add inline stylization to look like signature-->
            <div style="text-align: center;">
                <h2 style="font-family: 'Cedarville Cursive', cursive; font-size: 40pt;">Tisha Garcia </h2>
                <br />
                Owner - Perfect Petals Wedding and Events Florist
            </div>
        </p>
    </div>
</div>