
@{
    ViewBag.Title = "Welcome!";
}

<div>
    <h2 class="text-center">Welcome to Perfect Petals Weddings &amp; Event Florist</h2>

    <!--Lead image-->
    <div>
        <img class="lead-image" src="~/Images/perfectPetalsPurple.jpg" />
        <img class="lead-image" src="~/Images/tisha.jpg" />
    </div>
    <div>
        <!--Introduction of business-->
        <h3 id="landing-subheader">Perfect Petals Weddings and Events Florist is...</h3>
        <p>
            A Kansas City home-based design studio owned and operated by Tisha Garcia. Tisha got her
            start in the floral industry by attending a five month floral program. Her love for flowers and design has grown over the years and has
            developed into a passion for weddings and events. Tisha has spent many years in the floral industry from working as a designer to
            managing a floral retail store. In 2009, due to a life change event, Tisha left the retail store to pursue an associate degree in
            Business Management while being a full time mom. While going to school, Tisha would do flowers for weddings from her home. It was
            during this time that she decided to start Perfect Petals Weddings and Events Florist. Tisha's goal is to provide her customers with
            the custom look they are desiring with affordable prices.
        </p>
    </div>
</div>