
@{
    ViewBag.Title = "Services and Pricing";
}

<div class="container">
    <h2>What can I do for you?</h2>

    <div>
        <div class="col-lg-12">
            <p>
                There can be many things that affect the prices of flowers. For example: the season, type of flowers, color, size of bouquets and amount of labor involved.
                I do one on one free consultations to create a custom proposal for each client. There are options for ALL budgets. Here are some average prices.
                These are only suggested prices.
            </p>
            <br />
            <p>
                The purpose of your <span class="word-emphasis">free</span> consultation is to meet face to face and listen to your vision for your wedding and to make
                sure that we are on the same page. The consultation process involves exchanging ideas where we will discuss goals and desires.
                It's always helpful if you bring images of what you love to your consultation. We look forward to helping you create special
                memories with beautiful flowers.
            </p>
        </div>

        <div id="services-img-container">
            <img id="services-img" src="~/Images/bouquets.jpg" />
        </div>
        <div>
            <div class="text-center" id="pricing">
                <h1>Simple, Classic, Beautiful Floral Arrangements</h1>

                <!--first row-->
                <div class="col-md-4">
                    <h3>Bridal Bouquets</h3>
                    <p>start at $65</p>
                </div>
                <div class="col-md-4">
                    <h3>Bridesmaids Bouquets</h3>
                    <p>start at $25</p>
                </div>
                <div class="col-md-4">
                    <h3>Boutonnieres</h3>
                    <p>start at $10</p>
                </div>

                <!--second row-->
                <div class="col-md-4">
                    <h3>Corsages</h3>
                    <p>start at $15</p>
                </div>
                <div class="col-md-4">
                    <h3>Altar Arrangements</h3>
                    <p>start at $50</p>
                </div>
                <div class="col-md-4">
                    <h3>Pew Decor</h3>
                    <p>starts at $8</p>
                </div>

                <!--third row-->
                <div class="col-md-4">
                    <h3>Toss Bouquet</h3>
                    <p><strong>FREE</strong></p>
                    <p>(made with remaining flowers)</p>
                </div>
                <div class="col-md-4">
                    <h3>Cake Flowers</h3>
                    <p>start at $25</p>
                </div>
                <div class="col-md-4">
                    <h3>Centerpieces</h3>
                    <p>start at $25</p>
                </div>
            </div>
        </div>
    </div>

</div>
