
@{
    ViewBag.Title = "Love Notes";
}

<h2>Love Notes</h2>

<div>
    <div class="loveNotes">
        <p>"Tisha!! I cannot express to you how unbelievably beautiful my flowers were. I am still so emotional just thinking about how much time and effort you put into all of the pieces!! You took your time with me even though I changed my mind a million times and you were so willing to help me and do anything to make my day as stress free as possible. Everything came together so beautifully thanks to you and your amazing work! I am so thankful for you and to have gotten the chance to work with you!!" &nbsp;<span class="pull-right">Tabatha Grace, Bride -August 17th, 2015</span></p>
        <p>"Tisha made our day absolutely perfect. She takes the time to understand what you want and works with your budget. The flowers were simple yet elegant and the bridal bouquet was beyond beautiful. She also helped us plan our wedding and was there from start to finish. She is simply amazing and helped make our day one to remember!" &nbsp;<span class="pull-right">Sara Arnold, Bride -November 26th, 2014</span></p>
        <p>"Thank you Tisha for making our day beautiful! I couldn't have dreamt it better! Tisha and her wonderful husband helper took extra time to decorate the outdoor gazebo as well as the indoor reception hall for our wedding last weekend. It was absolutely breath taking. I showed her some pictures and we talked a bit about what I did/didn’t want and I left the rest to her expertise! I never had to lift a finger and was able to trust that everything would be done in a caring and professional manner. I wanted simple yet elegant and that is exactly the comment everyone made! Thank you for helping to make our wedding such a memorable time and for sharing the day with us." &nbsp;<span class="pull-right">Britni Stanley Kalbfleisch, Bride -July 18th, 2015</span></p>
        <p>"Thank you so much for being a part of my big day !! The flowers were absolutely beautiful !! Thank you again for making our day so beautiful, I couldn't have done it without you !!!!!!!!!❤️❤️❤️" &nbsp;<span class="pull-right">Dakkota Powell, Bride -September 24th, 2015</span></p>
        <p>"You created beautiful flowers for my wedding and I loved them! Also, you're help and willingness to meet when I was home to plan was very appreciated. Thanks!" &nbsp;<span class="pull-right">Rachel Elston, Bride -September 29th, 2015</span></p>
    </div>
</div>